<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <%= link_to 'Blog', articles_path, class: "blog-nav-item active" %>
      <%= link_to 'New post', new_article_path, class: "blog-nav-item" %>
      <a class="blog-nav-item" href="#">Press</a>
      <a class="blog-nav-item" href="#">New hires</a>
      <a class="blog-nav-item" href="#">About</a>
    </nav>
  </div>
</div>